.wall{
    display: flex;
    justify-content: center;
    
}

.canvas{
    width: 75vw;
    height: 75vh;
    background-color: aliceblue;
    display: flex;
    overflow: hidden;
}

.stripe{
    width: 10px;
    background-color: black;
    height: 20%;
    margin-left: 10px;
    z-index: 1;
}

.row_container{
    display: flex;
    
    width: 80%;
    flex-direction: column;
    border: 1px solid yellow;
}
.stripe_container{
    
 border: 1px solid blue;
    width: 50%;
  height: 20%
    
}
.stripe2{
    
    top: 0px;
    right: 0px;
z-index: 2;
width: 25px;
background:red;
}

.boxes{
    width: 60px;
    height: 60px;
    background-color: aquamarine;
}
